<div class="card container">
  <div class="card-body">
    <%= form_with model: @user do |form| %>
      <%= form.label :name, {class: "form-label"} %>
      <%= form.text_field :name, {class: "form-control", placeholder: "email"} %><br>
      <% @user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>

      <%= form.label :email, {class: "form-label"} %>
      <%= form.text_field :email, {class: "form-control", placeholder: "email"} %><br>
      <% @user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>

      <%= form.label :password, {class: "form-label"} %>
      <%= form.text_field :password, {class: "form-control", placeholder: "email"} %><br>
      <% @user.errors.full_messages_for(:password).each do |message| %>
        <div><%= message %></div>
      <% end %>

      <%= form.submit "sign up" %>
    <% end %>
  </div>
</div>